.planning-body{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.milestones{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}

.milestone-item{
    position: relative;
    width: 100%;
    border: 1px solid var(--neutral-300);
    border-radius: 10px;
    padding: 1.5rem;
}

.list{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.list-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.75rem;
}

.list-item2{
    width: 100%;
    display: flex;
    gap: 2rem;
}

.deliverables-list{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.deliverable-item{
    display: flex;
    width: 100%;
    padding: 0.5rem 1rem;
    gap: 0.4rem;
    background-color: var(--neutral-200);
    border-radius: 10px;
}

.planning-grid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 6fr 2fr 1fr 1fr 4fr 1fr;
    width: 100%;
    border-bottom: 1px solid var(--neutral-300);
}


@media screen and (max-width: 500px) {
    .list-item2{
        flex-direction: column;
        gap: 0.5rem;
    }
}