:root{
  --title-font-family: 'Poppins', sans-serif;
  --body-font-family: 'Poppins', sans-serif;
  --green-100: #dafae2;
  --green-300: #198754;
  --neutral-black: #1F2223;
  --neutral-white: #FFFFFF;
  --neutral-800:#363939;
  --neutral-900:#1F2223;
  --neutral-700:#484B4C;
  --neutral-600:#797A7B;
  --neutral-500:#9B9B9B;
  --neutral-300: #D2D3D3;
  --neutral-200: #EAEAEA;
  --neutral-100: #F8F8F8;
  --primary-500: #0B3F69;
  --primary-300: #2A628F;
  --primary-100: #6A98BC;
  --red-100: #fff1f1;
  --red-300: #f48fb1;
  --red-500: #D32F2F;
  
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



h1,h2,h3,h4,h5{
  font-family: var(--title-font-family);
}

p,a,li,button,input,textarea{
  font-family: var(--body-font-family);
}



/* Standard CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-primary-500 {
  color: var(--primary-500);
}

.text-primary-300 {
  color: var(--primary-300);
}

.text-primary-100 {
  color: var(--primary-100);
}
.text-neutral-700{
  color: var(--neutral-700);
}

.text-neutral-600 {
  color: var(--neutral-600);
}

.text-neutral-500 {
  color: var(--neutral-500);
}

.text-neutral-300 {
  color: var(--neutral-300);
}

.text-neutral-200 {
  color: var(--neutral-200);
}

.text-neutral-100 {
  color: var(--neutral-100);
}
.text-white{
  color : var(--neutral-100);
}

/* Custom Styles */

.text-neutral-900 {
  color: var(--neutral-900);
}

.text-red-500 {
  color: var(--red-500);
}
.text-red-300 {
  color: var(--red-300);
}

.text-success{
  color : var(--green-300)
}


/* Font Sizes */

.text-sm{ 
  font-size: 11.5px;
}

.container {
  width: 100%;
  padding : 3rem 5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-height: 50vh;
}

.section-header {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--neutral-200);
}

.flex-start{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.border-red{
  border-color: var(--red-300) !important;
}

.ml-1 {
  margin-left: 1rem;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 4fr 1fr;
  /* border-bottom: 1px solid var(--neutral-300); */
}
.grid:last-of-type{
   border-bottom: 1px solid var(--neutral-300);
}

.grid-item{
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--neutral-300);
  padding: 0.5rem;
  border-bottom: transparent;
}


.grid.header{
  background-color: var(--neutral-200);
  /* border-color: var(--primary-500); */
  /* color: white; */
  font-weight: bold;
}


.bg-primary{
  background-color: var(--primary-500);
}

.grid-input{
  position: relative;
  box-sizing: content-box;
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  border: 1px solid var(--neutral-300);
  width: 100%;
}

.grid-input:focus{
  box-shadow: none;
  outline: none;
  border: 1px solid var(--neutral-500);
  box-shadow: var(--neutral-500) 0 0 5px 1px;
}

.grid-input[type="checkbox"]{
  width: 2rem;
  height: 2rem;
}

input[type="checkbox"]{
  width: 1.5rem;
  height: 1.5rem;  
}



.bg-red{
  background-color: var(--red-100);
}

.bg-green{
  background-color: var(--green-100);
}

@media screen and (max-width: 600px) {
  .container {
    padding : 3rem 1rem;
  }
}


